<% content_for :header do %>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4">
        Browse the latest products on TDL
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="product-index-grid pt4">
  <% @products.each do |p| %>

    <div class="instrument border-light">
      <div class="instrument-thumb">
      <%= link_to image_tag(product.image_url(:thumb)), product %>


      </div>


    <div class="pa3">

      <h3 class="fw7 f4 name"><%= link_to product.name, product %></h3>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>



    </div>
  </div>
  <% end %>
</div>
